$primary-color: linear-gradient(165deg, rgb(27, 14, 211) 0%, rgb(17, 34, 48) 22%);
$secondary-color: #46ff5f;
$tertiary-color: #b4d430;

$primary-font-color: #fff;
$secondary-font-color: rgba(255, 255, 255, .9);

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Lato', sans-serif;
$tertiary-font: 'Alegreya Sans', sans-serif;